/* styles pour le header */
header {
    background-color: #1E395B;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}


/* styles pour la section main */
main {
    margin: 20px;
}

section {
    margin: 20px 0;
}

article {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

article h3 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: #1E395B;
}


article p {
    margin: 10px 0;
    line-height: 1.5;
    font-size: 16px;
}

div #acc img{
    height: 2cm;
  }

  article img{
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
 
article figure{
    display: block;
    text-align: center;
}

li>figure>a>img{
    height: 2cm;
}
li>figure>a :hover{
    box-shadow: 0 25px 20px rgba(0,0,0,0.1);
  }

div ul img{
    height:1cm;
    border-radius: 5px;
    box-shadow: 0 2px 4px  #1E395B;
}

div{
    display: inline-flex;
}
div ul {
    margin-right: 3%;

}

.plus{
    text-align: end;
    padding-right: 20px;
}

.plus a{
    border-bottom: 1px solid#1E395B; /* ajouter une bordure noire au survol */
    color:#0E1F32;
  }
  
  .plus a:hover {
    border-color: transparent; /* masquer la bordure noire au survol */
    background-color: #1E395B; /* ajouter un fond noir au survol */
    color: #fff; /* changer la couleur du texte en blanc au survol */
    text-decoration: none; /* supprimer le soulignement au survol */
  }
  
.pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a:hover{
    text-decoration: underline;
}
.sect{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    margin: auto 20px auto 20px;
}

.bestsell img{
    display: block;
    text-align: center;
}
.bestsell{
    margin: 2%;
    width: 17%;
    height: auto;
    text-align: center;

}
.stat{
    position: relative;
    left: 25%;
}
.dec{
    position: relative;
    right: 25%; 
}
.pre{
    text-align: end;
    padding-right: 20px;
}
.form{
    background-color: #F5F5F5;
    box-shadow: 0 2px 4px #F5F5F5;
}
form{
    text-align: center;
   
}
button{
    transform: scale(1.2);
    margin-left: 20%;
    width: 12%;
}
input{
   transform: scale(2);
   margin-left: 23%;
   width: 30%;
}
/* styles pour le footer */
footer {
    background-color: #1E395B;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

span>a {
    color:#FFF;
    text-decoration: none
}

main a:hover{
    text-decoration: underline;
    color: black;

}

/* styles gÃƒÂ©nÃƒÂ©raux */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #F5F5F5;
}
h1{
    text-align: center;
    padding-bottom: 5px;
}

h1, h2, h3 {
    margin: 0;
    font-weight: bold;
}

main a {
    color: #1E395B;
    text-decoration: none;
    
}

main li{
    display: inline-block;
    padding: 1%;
    
}
ul{
    text-align: center;
}
input[type="text"]{
    color: gray;
    font-style: italic;
}
button, input[type="submit"], input[type="button"] {
    background-color: #1E395B;
    color: #FFF;
    border: none;
    padding: 10px 17px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #0E1F32;
}